Advanced-Bash-Scripting-Guide.pdf
aws/
Crypto101.pdf
DevOps in Python (1).pdf
Hot keys.txt
HW2.doc
HW2.odt
HW3.doc
hw3.pdf
hw5.1.py
hw5.2.py
hw5.3.py
hw5.4.py
hw5.5.py
HW5.tar
HW6.doc
hw6/
hw6linux.tar
hw6.tar
info.pdf
istio.pdf
K8S_ network plugins - issues and performance comparison.pdf
Knative_Overview.pdf
Labwork_4.doc
Lesson1 DevOps.pptx
Lesson2 Администрирование.pptx
Lesson 3 Администрирование - часть 2.pptx
Lesson 6 Администрирование - часть 5.pptx
Lesson 9.pdf
list1_1.txt
list1.txt
list2.txt
newtest1
printf key.txt
pxelinux.txt
quations 11.06.20
SoftServe_DevOps_v2.1-9_1_2014.pdf
terraform
Testing_Handbook_V1.pdf
Vim commands.txt
vim.txt
what i need for testing experts
Регулярные выражения.txt
Сonnecting pool Kubernetes clusters_ Federation and Networks.pdf
таблица инструментов Девопс v3.jpg
